<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} | Health Research - BeYouBeHealthy.org</title>

        {% block stylesheets %}
        <link href="{{ asset('bundles/jordillonchcrudgenerator/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/app.css') }}" rel="stylesheet" type="text/css" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        {% endblock %}
        <link rel="stylesheet" href="http://beyoubehealthy.org/stylesheets/app.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
        <script src="http://codeorigin.jquery.com/jquery-2.0.3.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.js"></script>
        {% endblock %}
    </head>
    <body>
    <div class='row' id='top'>
        {% block header %}

        <div class='span5 offset1'>
          <ul>
                <!-- Title Area -->
                <li><a href="/bybh/index.php"><img src="/bybh/images/BeYouBeHealthy_logo_300.png" alt="Be You Be Healthy Logo"></a></li>
                <li class="toggle-topbar"><a href="#"></a></li>
          </ul> 
      </div>
        <div class='span10'>
                        <!-- Right Nav Section -->

                            <ul class="right">
                     
                               <li class="social" style="list-style: none"><a href="http://www.facebook.com/sexloop" target="_blank"><i class="icon-facebook" style="font-color: white; font-size: 20px"> </i></a></li>
                       
                                <li class="social" style="list-style: none"><a href="https://twitter.com/sexedloop" target="_blank"><i class="icon-twitter" style="font-color: white; font-size: 20px; padding-right: 10px"> </i></a></li>
                        
                               <li class="social" style="list-style: none"><a href="http://www.sexedloop.com/feed" target="_blank"><i class="icon-rss" style="font-color: white; font-size: 20px; padding-right: 15px"> </i></a></li>
                      
                            </ul>
            </div>
            {% endblock %}
    </div>
    <div class='row'>
        <div class='span4 offset1 sidebar'>{% block sidebar %}{% endblock %}</div>

        <div class='span11'>{% block content %}{% endblock %}</div>

    </div>

    </body>
</html>
