<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} | Health Research - BeYouBeHealthy.org</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

    <div class='row'>
        <div>{% block header %}{% endblock %}</div>
    </div>
    <div class='row'>

        <div class='span4'>{% block sidebar %}{% endblock %}</div>


        <div class='span12'>{% block content %}{% endblock %}</div>

    </div>

    </body>
</html>
