body {
  background-image: none;
}

h3{
  color: #a8262a;
  line-height: 1.2em;
}

.sidebar {
  color: #666;
}

.btn, .btn-group > a.btn.dropdown-toggle{
  background-color: #fbebba;
}

.btn-group.open .btn.dropdown-toggle{
    background-color: #fbebba;
}
.btn-group{
    background-color: #fbebba;
}
.btn-group > .btn:first-child {

      background-color: #fbebba;

}

.table th, .table td {
   text-align: center;   
}

.table td.geo-column {
  text-align: left;
}