{% set root = '/bybh-main' %}
<div class='row'><div class='span15 offset1'>
  <a href="{{root}}/index.php"><img src="{{root}}/images/BeYouBeHealthy_logo_300.png" alt="Be You Be Healthy Logo"></a>
</div>
