{% extends "::base.html.twig" %}

{% block title %}All Available Studies{% endblock %}

{% block content %}
<h1>All studies</h1>
<ul>
{% for item in studies %}
  <li><a href='{{ path('singlestudy', {'name': item.name}) }}'>{{ item.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
