{% extends "::base.html.twig" %}
{% block title %}{{ study.name }}{% endblock %}
{% block header %} 
<h1>{{ study.name }}</h1>
{{ include ('CDCChartBundle:Default:button-menu.html.twig') }}
{% endblock %}

{% block content %}

This is Study content.


{% endblock %}

